* text=auto
*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.slnx text eol=lf
*.xaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.c text eol=lf
*.rc text eol=lf
*.png binary
*.gif binary
*.ico binary
